<%= form_with(model: task_list, class: "contents") do |form| %>
  <% if task_list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(task_list.errors.count, "error") %> prohibited this task_list from being saved:</h2>

      <ul class="list-disc ml-6">
        <% task_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <% if form.object.errors[:title].any? %>
      <div class="text-red-600 text-sm mt-1"><%= form.object.errors[:title].join(', ') %></div>
    <% end %>
    <%= form.text_field :title, required: true, minlength: 3, maxlength: 100, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task_list.errors[:title].none?, "border-red-400 focus:outline-red-600": task_list.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": task_list.errors[:description].none?, "border-red-400 focus:outline-red-600": task_list.errors[:description].any?}] %>
  </div>

  <% unless @task_list.persisted? %>
    <h3 class="text-lg font-semibold mt-4 text-blue-700">First Task (Optional)</h3>

    <div class="space-y-4">
      <%= form.fields_for :tasks do |task_fields| %>
        <div class="mb-2 task-fields bg-blue-50 rounded-lg p-4">
          <%= task_fields.label :title, "Title", class: "block font-medium mb-1 text-gray-700" %>
          <%= task_fields.text_field :title, required: false, minlength: 3, maxlength: 100, class: "w-full border border-gray-200 rounded-lg px-3 py-1 bg-gray-50" %>
          <% if task_fields.object.errors[:title].any? %>
            <div class="text-red-600 text-sm mt-1"><%= task_fields.object.errors[:title].join(', ') %></div>
          <% end %>
          <%= task_fields.label :description, "Description", class: "block font-medium mb-1 mt-2 text-gray-700" %>
          <%= task_fields.text_area :description, class: "w-full border border-gray-200 rounded-lg px-3 py-1 bg-gray-50" %>
          <% if task_fields.object.errors[:description].any? %>
            <div class="text-red-600 text-sm mt-1"><%= task_fields.object.errors[:description].join(', ') %></div>
          <% end %>
          <%= task_fields.label :priority, "Priority", class: "block font-medium mb-1 mt-2 text-gray-700" %>
          <%= task_fields.select :priority, options_for_select(task_priority_options, task_fields.object.priority_before_type_cast), {}, class: "w-2/3 border border-gray-200 rounded-lg px-3 py-1 bg-gray-50" %>
          <% if task_fields.object.errors[:priority].any? %>
            <div class="text-red-600 text-sm mt-1"><%= task_fields.object.errors[:priority].join(', ') %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
