<% content_for :title, "Showing task list" %>

<div class="md:w-2/3 w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= @task_list.title %></h1>
    <span class="text-sm text-gray-500"><%= task_list_completion_status(@task_list) %></span>
  </div>

  <section class="my-5">
    <div class="flex justify-between items-center">
      <h3 class="text-lg font-semibold mt-4 text-blue-700">Tasks</h3>
      <%= render "task_lists/filter_form", task_list: @task_list %>
      <%= link_to "Add Task", new_task_list_task_path(@task_list), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>

    <div id="tasks-fields" class="space-y-4" data-task-fields-target="container">
      <% if @tasks.any? %>
        <%= render partial: "tasks/compact_one_liner_task", collection: @tasks, as: :task %>
      <% else %>
        <p class="text-gray-500 text-center my-4">No tasks found</p>
      <% end %>
    </div>
  </section>

  <div class="flex justify-end items-center gap-2 mt-4">
    <%= link_to "Edit this task list", edit_task_list_path(@task_list), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-300 hover:bg-blue-100 inline-block font-medium" %>
    <%= link_to "Back to task lists", root_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this task list",
      @task_list,
      method: :delete,
      disabled: @task_list.tasks.incomplete.exists?,
      class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 disabled:opacity-50 disabled:cursor-not-allowed font-medium cursor-pointer",
      data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
